/.idea/
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
*.jar
*.iml
.idea/
.gradle/
.target/
/target/
.settings/
.classpath
.project
**/dist/
/output

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.log

